<?xml version="1.0" encoding="utf-8"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location xdt:Locator="Condition(@path='.')">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </handlers>
      <aspNetCore xdt:Transform="RemoveAttributes(hostingModel)">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="PRD" xdt:Transform="Replace" xdt:Locator="Match(name)" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" xdt:Transform="Remove" xdt:Locator="Match(name)" />
          <environmentVariable name="COMPLUS_ForceENC" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>